* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color scheme */
:root {
  --brand-primary: #8800ff;
  --brand-secondary: #6c757d;
  --brand-primary-dark: #410079;
  --brand-success: #00790c;
  --brand-info: #277693;
  --brand-warning: #dad200;
  --brand-danger: #79002e;
  --white: #f6f3f9;
  --black: #150127;
}

body {
  font-family: monospace;
  font-size: 1.6em;
  padding: 1em;
}

p {
  margin: 0.7em 0;
  max-width: 780px;
  line-height: 1.14em;
}

ul {
  list-style: none;
  margin-left: 1em;
}

ul li {
  margin: 0.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.2em 0 1em;
}

blockquote {
  margin: 1em;
  font-style: italic;
  font-size: 1.1em;
  max-width: 90%;
}

blockquote cite {
  font-size: 0.8em;
  font-style: normal;
  white-space: nowrap;
}

header,
main,
footer {
  padding: 0.6em;
}

pre {
  background-color: #f6f3f9;
  padding: 1em;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

/* HEADER */
header {
  background-color: var(--brand-primary-dark);
  color: #fff;
  margin: 0 0 1em;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

/* POSTS */
.excerpt {
  margin: 1em 0;
  border: 1px dashed var(--brand-secondary);
  padding: 1em;
  border-radius: 5px;
}

/* Responsive design */

@media (min-width: 768px) {
  .PageNavigation a {
    width: auto;
    float: none;
    margin: 0;
  }

  .PageNavigation .next {
    text-align: right;
  }

  body {
    font-size: 1.2em;
  }
}
