<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Giggle Out Loud – Genre Fluid Music</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <h1>Home of Rivka and Mike iLL</h1>
    <nav>
      <a href="/" title="main page">Home</a>
      <a href="https://cdn.forms-content.sg-form.com/80ed0f27-8fe8-11ef-ba56-e2f6e3f70426"
        title="Signup for our newsletter">Newsletter Signup</a>
    </nav>
  </header>
  <h1>Home of Rivka and Mike iLL</h1>
  <section>
    Coming soon...
  </section>
  <footer>
    &copy; Rivka and Mike iLL Kilmer
  </footer>
</body>

</html>
